.cover-thumnail{
	position: relative;
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

.one{
	border: 1px solid white;
	height: 200px;
	width: 200px;
	transform: rotate(12deg);
}

.two{
	border: 1px solid white;
	position: absolute;
	top: 0px;
	height: 200px;
	width: 200px;
	transform: rotate(5deg);
}

.three{
	border: 1px solid white;
	position: absolute;
	top: 0px;
	height: 200px;
	width: 200px;
}

nav.navbar{
	position: sticky;
	top: 0;
}

.avatar{
	height: 300px;
	width: 300px;
}
.cover-avatar-card{
	display: flex;
	justify-content: center;
	padding-top: 30px;
}

.card-avatar{
	height: 170px;
	width: 170px;
}

.name-account{
	font-size: 500%;
	font-family: Arial, Helvetica;
	padding-top: 10px;
}

.follow{
	margin-top: 40px;
	display: inline;
	background: linear-gradient(#EB5B56, #F2974B);
	border-radius: 8px;
	display: inline-block;
	/*padding: 5px;*/
	padding: 3px;
}

.follow span {
	background:white;
	display: block;
	padding: 0.3em 0.7em;
	border-radius: 100px;
}

.follow-text{
	font-size: 15px;
	background: -webkit-linear-gradient(#EB5B56, #F2974B);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.following{
	margin-top: 40px;
	display: inline;
	background: linear-gradient(#EB5B56, #F2974B);
	border-radius: 8px;
	display: inline-block;
	padding: 2px;
}

.following span {
	color: black;
	display: block;
	padding: 0.3em 0.7em;
	border-radius: 100px;
}

.following-text{
	font-size: 15px;
	background: -webkit-linear-gradient(#FFFFFF, #FFFFFF);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.edit-profile{
	margin-top: 40px;
	display: inline;
	background: linear-gradient(#3C5999, #3C5999);
	border-radius: 8px;
	display: inline-block;
	/*padding: 5px;*/
	padding: 3px;
}

.edit-profile span {
	background:white;
	display: block;
	padding: 0.3em 0.7em;
	border-radius: 100px;
}

.edit-profile-text{
	font-size: 15px;
	background: -webkit-linear-gradient(#3C5999, #3C5999);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.follow-card{
	display: flex;
	justify-content: center;
}



.num-photo-album-profile-card{
	font-size: 24px;
	text-align: center;
	color: #3C5999;
	display: block;
}

.photo-album-profile-card{
	font-size: 12px;
	text-align: center;
	color: #3C5999;
	display: block;
}

.link-in-profiles{
	text-decoration: none;
	color: #3C5999;
}

.list-inline-item:{
	color: #3C5999;
	
}

.inline-item{
	display: inline;
	color: #828282;

}

.inline-item-choice{
	display: inline;
	font-weight: bold;
	color: #3C5999;
}

.choice{
	color: #3C5999;
	font-weight: bold;
}

@media only screen and (max-width: 991px) {
	.text-profile{
		text-align: center;
  }
}

.link-btn-edit-photo{
	text-decoration: none;
}

.cover-btn-edit-photo{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 0px;
	height: 10px;
}

.one-photos{
	margin: auto;
}

.cover-photo-profile{
	display: flex;
	justify-content: center;
	align-items: center;
}
.title-photo{
	padding-top: 2px;
	height: 15px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 14px;
	text-align: center;

	color: #4F4F4F;
}

.card-followings{
	background-color: #F8F8F8;
	border: 0.5px solid #E0E0E0;
	box-sizing: border-box;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14);
	border-radius: 6px;
}

.cover-name-followings{
	display: flex;
	justify-content: center;
	align-items: center;
}

.name-followings{
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;

	color: #4F4F4F;
}

.follow-down{
	margin-top: 15px;
	display: inline;
	background: linear-gradient(#EB5B56, #F2974B);
	border-radius: 8px;
	display: inline-block;
	/*padding: 5px;*/
	padding: 3px;
}

.follow-down span {
	background:white;
	display: block;
	padding: 0.3em 0.7em;
	border-radius: 100px;
}

.follow-down-text{
	font-size: 15px;
	background: -webkit-linear-gradient(#EB5B56, #F2974B);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.following-down{
	margin-top: 15px;
	display: inline;
	background: linear-gradient(#EB5B56, #F2974B);
	border-radius: 8px;
	display: inline-block;
	padding: 2px;
}

.following-down span {
	color: black;
	display: block;
	padding: 0.3em 0.7em;
	border-radius: 100px;
}

.following-down-text{
	font-size: 15px;
	background: -webkit-linear-gradient(#FFFFFF, #FFFFFF);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.follow-down-text{
	font-size: 15px;
	background: -webkit-linear-gradient(#EB5B56, #F2974B);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.btn-add-photo{
	display: inline;
	background: linear-gradient(#00A557, #00A557);
	border-radius: 8px;
	display: inline-block;
	padding: 2px;
}

.btn-add-photo span {
	color: black;
	display: block;
	padding: 0.3em 0.7em;
	border-radius: 100px;
}

.btn-add-photo-text{
	font-size: 15px;
	background: -webkit-linear-gradient(#FFFFFF, #FFFFFF);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 991px) {
	.btn-add-photo{
		display: flex;
		justify-content: center;
		align-items: center;
  }
  	.btn-add-photo.text{
		display: flex;
		justify-content: center;
		align-items: center;
  }
}

@media only screen and (min-width: 991px) {
	.btn-add-photo{
		float: right;
  }
}

.background-icon-lock{
	display: inline;
	position: absolute;
	right: 40px;
	top: 15px;
	background-color:white;
	height: 25px;
	width: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-btn-edit{
	display: inline;
	position: absolute;
	right: 40px;
	top: 200px;
	border-radius: 14px;
	height: 22px;
	width: 50px;
	color: white;
	text-align: center;
	font-size: 12px;
	line-height: 13px;
	padding-top: 5px;
}

.background-btn-edit{
	display: inline;
	position: absolute;
	right: 40px;
	top: 200px;
	background-color:rgba(0, 0, 0, 0.4);
	border-radius: 14px;
	height: 22px;
	width: 50px;
}


.background-icon-lock-album{
	display: inline;
	position: absolute;
	right: 60px;
	top: 45px;
	background-color:white;
	height: 25px;
	width: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-btn-edit-album{
	display: inline;
	position: absolute;
	right: 60px;
	top: 190px;
	border-radius: 14px;
	height: 22px;
	width: 50px;
	color: white;
	text-align: center;
	font-size: 12px;
	line-height: 13px;
	padding-top: 5px;
}

.background-btn-edit-album{
	display: inline;
	position: absolute;
	right: 60px;
	top: 190px;
	background-color:rgba(0, 0, 0, 0.4);
	border-radius: 14px;
	height: 22px;
	width: 50px;
}

.title-album{
	margin-top: 0px;
	padding-top: 2px;
	height: 15px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 14px;
	text-align: center;
	color: #4F4F4F;
}

.text-num-of-album{
	display: inline;
	position: absolute;
	height: 120px;
	width: 120px;
	right: 80px;
	top: 65px;
	border-radius: 14px;
	color: white;
	padding-top: 30px;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	line-height: 40px;
	text-align: center;
	color: #FFFFFF;
}

.text-num-of-album-small{
	display: inline;
	position: absolute;
	height: 120px;
	width: 120px;
	right: 80px;
	top: 65px;
	border-radius: 14px;
	color: white;
	padding-top: 65px;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	color: #FFFFFF;
}

.background-num-of-album{
	display: inline;
	position: absolute;
	right: 80px;
	top: 65px;
	background-color:rgba(0, 0, 0, 0.4);
	/*border-radius: 100px;*/
	height: 120px;
	width: 120px;
}