.image {
	display: block;
	width:100%;
	height:100%;
	/*width: auto;*/
}


@media (min-width: 987px) {
	.shadow{
		height:230px;
		max-height: 230px;
	}

	.no-gutters{
		max-height: 230px;
	}

	.image {
		display: block;
		width:100%;
		height:230px;
		max-height: 230px;
		/*width: auto;*/
	}
}

@media (min-width: 768px) {
	.shadow{
		height: 230px;
		max-height: 230px;
	}

	.no-gutters{
		max-height: 230px;
	}

	.image {
		display: block;
		width:100%;
		height:230px;
		max-height: 230px;
		/*width: auto;*/
	}
}

.model {
	margin-top: 25px;
	width: 230px;
}

.photos_to_albums{
	display: flex;
	justify-content: center;
	align-items: center;
}

.page{
	display: flex;
	justify-content: center;
	align-items: center;
}

.mode_photo_button{
	background-image: linear-gradient(#4e69a2, #3b5998 50%);
}

.mode_album_button{
	background-image: linear-gradient(#FFFFFF, #FFFFFF 50%);
	text-decoration: none;
	color: #4e69a2;
}

.card{
	box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.25);
	border-radius: 3px 0px 0px 3px;
}

.card-title{
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	margin-top: 15px;
}

.card-text-decription{
	max-height: 100px;
	font-size: 13px;
	line-height: 15px;
	display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.user-name-photo{
	font-weight: bold;
	font-size: 15px;
	line-height: 16px;
	color: #3C5999;
}

.card-text-created_at{
	position: absolute;
	overflow: hidden;
	font-size: 15px;
	bottom: 0px;
	right: 20px;
}

.card-body{
	padding-top: 0px;
	max-height: 230px;
	height: 230px;
	overflow: hidden;
	position: relative;
}

.react{
	position: absolute;
	bottom: 0px;
}

.decrible{
	background-color: #F8F8F8;
	padding-top: 0px;
}



.overide-footer{
	position: relative;
}
body.modal-open .ab {
	filter: blur(5px);
}
.modal-footer{
	height: 60px;
	position: relative;
}

.decription_photo_show{
	position: absolute;
	left: 10px
}

#myModal{
	padding-top: 200px;
	opacity: 1.0;
}

.nav-top{
	/*background-image: linear-gradient(#000000, #000000);*/
	background-color: #3C5999;
	position: sticky;
	top: 0;
    z-index: 1;
}

.form-edit{
	display: flex;
	justify-content: center;
	align-items: center;
}

.avatar-nav{
	display: inline;
	height: 30px;
	width: 30px;
}

@import "bootstrap";